# URL de l'API Backend
# En développement local
REACT_APP_API_URL=https://hotel-reservation-api-gio.vercel.app

# En production, remplacez par l'URL de votre backend déployé
# REACT_APP_API_URL=https://votre-backend.render.com